<form [formGroup]="problemsForm" (ngSubmit)="addProblem()">
    <div>
        <label for="category">Category:</label>
        <select id="category" formControlName="category" required>
            <option value="" disabled selected>Select category</option>
            <option value="smeštaj">Issues with accomodation</option>
            <option value="prevoz">Issues with transportaion</option>
            <option value="vodič">Issues with tour guide</option>
            <option value="aktivnosti">Issues with activities</option>
            <option value="zdravlje">Health issues</option>
            <option value="opšti">General issues</option>
        </select>

        <label for="priority">Priority:</label>
        <select id="priority" formControlName="priority" required>
            <option value="" disabled selected>Select priority</option>
            <option value="visok">High</option>
            <option value="srednji">Medium</option>
            <option value="nizak">Low</option>
        </select>

        <label for="description">Description:</label>
        <textarea id="description" formControlName="description" required></textarea>

        <button color="primary" type="submit" mat-raised-button>Done</button>
    </div>
</form>
