<form [formGroup]="problemsForm" (ngSubmit)="addProblem()">
    <div>
        <label for="category">Kategorija:</label>
        <select id="category" formControlName="category" required>
            <option value="" disabled selected>Izaberite kategoriju</option>
            <option value="smeštaj">Problemi sa smeštajem</option>
            <option value="prevoz">Problemi sa prevozom</option>
            <option value="vodič">Problemi sa vodičem</option>
            <option value="aktivnosti">Problemi sa aktivnostima</option>
            <option value="zdravlje">Zdravstveni problemi</option>
            <option value="opšti">Opšti problemi</option>
        </select>

        <label for="priority">Prioritet:</label>
        <select id="priority" formControlName="priority" required>
            <option value="" disabled selected>Izaberite prioritet</option>
            <option value="visok">Visok</option>
            <option value="srednji">Srednji</option>
            <option value="nizak">Nizak</option>
        </select>

        <label for="description">Opis:</label>
        <textarea id="description" formControlName="description" required></textarea>

        <button color="primary" type="submit" mat-raised-button>Done</button>
    </div>
</form>
