.navbar {
    background: linear-gradient(to bottom, #004D40, #001F1B);
    display: flex;             
    align-items: center;       
    justify-content: space-between;
    width: 100%;   
    height: 80px;            
    padding: 0 16px; 
    position: fixed;
    top: 0;  
    z-index: 2000;        
  }
  
  .meni-button {
    background-color: none !important;  
    border: none !important;               
    padding: 0 !important;                
    margin-right: 16px; 
  }
  
  .meni-button .mat-icon {
    color: white !important;    
    font-size: 24px !important; 
    transition: transform 0.3s ease;  
  }
  
  .meni-button:hover .mat-icon {
    transform: scale(1.2) !important; 
  }
  
  .meni-button:focus, .meni-button:active {
    background-color: none !important;
    box-shadow: none !important;           
  }
  
.hover-trigger {
    position: fixed;
    top: 64px; 
    left: 0;
    width: 20px; 
    height: calc(100vh - 64px);
    background-color: transparent; 
    z-index: 999; 
  }
  
  .meninav {
    width: 250px;
    background: linear-gradient(to bottom, #004D40, #001F1B);
    color: white;
    position: fixed;
    height: 100%;
    z-index: 1100;
    transform: translateX(-100%); 
    transition: transform 0.3s ease; 
  }
  
  .meninav.opened {
    transform: translateX(0); 
  }
  
  .meninav a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: white;
  }
  
  .meninav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #004D40, #001F1B);
    border: none !important; 
    padding: 0; 
    cursor: pointer; 
    margin-right: 10px;
    box-shadow: none !important;                   
  }
  
  .btn mat-icon {
    font-size: 25px;
    color: white; 
    transition: transform 0.5s ease;
  }

  .btn:hover mat-icon {
    transform: scale(1.5); 
  }
  
  .btn .button-text {
    margin-top: 8px; 
    font-size: 14px;
    color: white; 
    transition: transform 0.5s ease;
  }

  .btn:hover .button-text {
    transform: scale(1.3); 
  }
  
  .btn:focus {
    outline: none; 
  }
  
  .right-side {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%; 
  }
  
  .profile-dropdown {
    position: relative;
    display: inline-block;
    margin-left: 15px;
  }
  
  .profile-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-profile {
    position: absolute;
    top: 100%; 
    left: -150px; 
    display: none;
    flex-direction: column; 
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 215px;
    margin-top: 5px;
  }
  
  .dropdown-profile.show {
    display: flex; 
  }
  
  .dropdown-profile a {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    padding: 10px 15px; 
    color: black; 
    text-decoration: none; 
    font-size: 18px; 
  }
  
  .dropdown-profile a:hover {
    background-color: #f1f1f1; 
  }
  
  .dropdown-profile mat-icon {
    font-size: 22px; 
    color: black; 
  }

  .profile-dropdown:hover .dropdown-profile {
    display: flex;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%; 
    left: 0px; 
    display: none;
    flex-direction: column; 
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 215px;
    margin-top: 5px;
  }
  
  .dropdown-menu.show {
    display: flex; 
  }
  
  .dropdown-menu a {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    padding: 10px 15px; 
    color: black; 
    text-decoration: none; 
    font-size: 18px;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1; 
  }
  
  .profile-dropdown:hover .dropdown-menu {
    display: flex;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 16px;
  }
  
  .arrow {
    margin-left: auto;
    font-size: 12px;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 8px 0;
    border: 1px solid #ddd;
    min-width: 150px;
  }
  
  .submenu button {
    display: block;
    width: 100%;
    padding: 10px 15px; 
    text-align: left;
    background: none;
    border: none;
    color: black; 
    font-size: 18px; 
    cursor: pointer;
    text-decoration: none;
  }
  
  .submenu button:hover {
    background-color: rgba(255, 255, 255, 0.2); 
  }
  
  .dropdown-item:hover .submenu {
    display: block;
  }
  

  