<mat-toolbar class="navbar">
    <div class="navbar-left">
       <img src="../../../../assets/bck.jpg" alt="logo" class="logo" />
       <button mat-button class="custom-button" routerLink="/home">Home</button>
    </div>

<div class="navbar-right">
    <button *ngIf="user && user.username === ''" mat-button class="custom-button" [routerLink]="['login']">Login</button>
    <button *ngIf="user && user.username !== ''" mat-button class="custom-button" (click)="onLogout()">Logout</button>
    <button  mat-button class="custom-button" [routerLink]="['home']">Home</button>
    <button *ngIf="user && user.role === 'author'" mat-button class="custom-button" [routerLink]="['author']">Manage tours</button>
    <button *ngIf="user && user.role === 'author'" mat-button class="custom-button" [routerLink]="['author-object']">Manage objects</button>
    <button *ngIf="user && user.role === 'administrator'" mat-button class="custom-button" [routerLink]="['equipment']">Manage equipment</button>
    <button *ngIf="user && user.role === 'administrator'" mat-button class="custom-button" [routerLink]="['accounts']">Manage accounts</button>
    <button *ngIf="user && user.role === 'administrator'" mat-button class="custom-button" [routerLink]="['app-rating']">Ratings</button>
    <button *ngIf="user && user.role === 'tourist'" mat-button class="custom-button" [routerLink]="['app-rating']">Rate Us</button>
    <button *ngIf="user && user.role === 'administrator'" mat-button class="custom-button" [routerLink]="['allproblems']">All problems</button>
    <button *ngIf="user && user.role === 'tourist'" mat-button class="custom-button" [routerLink]="['addproblem']">Add Problem</button>
    <button *ngIf="user && user.role === 'tourist'" mat-button class="custom-button" [routerLink]="['tour-preferences']">Set Tour Preferences</button>
    <button  mat-button class="custom-button" [routerLink] = "['blog']">Blogs</button>
    <button *ngIf="user" mat-button class="custom-button" [routerLink]="['editUserAccount']">Edit User Account</button>
    <button *ngIf="user && user.role === 'tourist'"mat-button class="custom-button" [routerLink]="['my-equipment']">My equipment</button>
    <button *ngIf="user && user.role === 'tourist'"mat-button class="custom-button" [routerLink]="['location-simulator']">Location Simulator</button>
    <button *ngIf="user && user.role === 'tourist'"mat-button class="custom-button" [routerLink]="['allclubs']">Club</button>
    <button *ngIf="user && user.role === 'tourist'"mat-button class="custom-button" [routerLink]="['start-tour']">Start tour</button>
    <button *ngIf="user && user.role === 'tourist'"mat-button class="custom-button" [routerLink]="['publishedtours']">Tours published</button>
    <button *ngIf="user && user.role === 'tourist'"mat-button class="custom-button" [routerLink]="['card']">Card</button>
    <button *ngIf="user && user.role === 'tourist'"mat-button class="custom-button" [routerLink]="['mytours']">My tours</button>
    <button *ngIf="user && user.role === 'tourist'"mat-button class="custom-button" [routerLink]="['followers']">Followers</button>
 </div>
</mat-toolbar>