<div id="tour-preferences">
  <hr>
  <div id="tour-preferences-details">
    <table>
      <thead>
        <tr>
            <th>Difficulty</th>
            <th>WalkRating</th>
            <th>BikeRating</th>
            <th>CarRating</th>
            <th>BoatRating</th>
            <th>Tages</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tp of tourPreferences">
        <td>{{ getDifficultyString(tp.difficulty) }}</td>
        <td>{{tp.walkRating}}</td>
        <td>{{tp.bikeRating}}</td>
        <td>{{tp.carRating}}</td>
        <td>{{tp.boatRating}}</td>
        <td>{{tp.interestTags}}</td>
        <td> 
          <button color="accent" (click)="deleteTourPreferences(tp.id || 0)" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
          <button color="primary" (click)="onEditClicked(tp)" mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
        </td>
      </tr>
      <tr><button color="primary" (click)="onAddClicked()" mat-icon-button>
        <mat-icon>add</mat-icon>
    </button></tr>
    </tbody>
    </table>
  </div>
  <hr>
  <xp-tour-preferences-form *ngIf="shouldRenderTourPreferencesForm" [shouldEdit]="shouldEdit" [tourPreferences]="selectedTourPreferences" (tourPreferencesUpdate) = "getTourPreferences()"></xp-tour-preferences-form>
</div>