<form [formGroup]="userForm">
    <div>
      <label for="firstName">first Name:</label>
      <input id="firstName" type="text" formControlName="firstName">
    </div>
  
    <div>
      <label for="lastName">lastName:</label>
      <input id="lastName" type="text" formControlName="lastName">
    </div>
  
    <div>
      <label for="motto">motto:</label>
      <input id="motto" type="text" formControlName="motto">
    </div>
  
    <div>
      <label for="biography">biography:</label>
      <textarea id="biography" formControlName="biography"></textarea>
    </div>
  
    <div>
      <label for="photo">photo :</label>
      <input id="photo" type="text" formControlName="photo" placeholder="URL do fotografije">
    </div>
  
    <button color="primary" type="submit" (click)="updateUserAccount()" mat-raised-button>Izmijeni</button>
  </form>
  