<div class="messages">
  <div *ngFor="let message of messages" class="message-item">
    <!-- Prikaz userName iznad sadržaja poruke -->
    <p class="message-sender">From: {{ getUserNameById(message.senderId) }}</p>
    
    <!-- Sadržaj poruke -->
    <p>{{ message.content }}</p>
    
    <div class="message-actions">
      <!-- Prikazivanje dugmeta za update samo ako je senderId jednak trenutnom korisniku -->
      <button *ngIf="message.senderId === currentTouristId" (click)="editMessage(message)">Update</button>
      
      <!-- Prikazivanje dugmeta za brisanje samo ako je trenutni korisnik vlasnik kluba -->
      <button *ngIf="ownerClubId === currentTouristId" (click)="deleteMessage(message.id || 0)">Delete</button>
    </div>
  </div>
</div>

<div *ngFor="let club of clubs" class="club-card">
  <div *ngIf="club.id === clubId">
    
    <!-- Tabela sa porukama -->  
    
    
    <!-- Prikaz za turiste koji su već članovi -->
    <div *ngIf="hasJoinedTheClub(club.id)">
      <p>You are a member of this club!</p>
      
      <!-- Forma za slanje poruke -->
      <div *ngIf="canSendMessage(club.id)">
        <textarea [(ngModel)]="messageContent" placeholder="Write your message"></textarea>
        <button (click)="sendMessageOrUpdate(club.id)">Send Message</button>
      </div>
    </div>

    <!-- Prikaz za turiste koji imaju poziv -->
    <div *ngIf="hasInvitationForClub(club.id)">
      <p>You have been invited to join this club!</p>
      <button (click)="acceptInvitation(club.id)">Accept Invitation</button>
      <button (click)="rejectInvitation(club.id)">Reject Invitation</button>
    </div>
    
    <!-- Prikaz za turiste bez poziva i koji nisu članovi -->
    <div *ngIf="!hasInvitationForClub(club.id) && !hasJoinedTheClub(club.id)">
      <button *ngIf="club.id && !hasRequestSent(club.id)" (click)="sendJoinRequest(club.id)">Send Request</button>
      <button *ngIf="club.id && hasRequestSent(club.id)" (click)="withdrawMembershipRequest(club.id)">Withdraw Request</button>
    </div>
  </div>
</div>
