
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
 }
 
 .slogan-container {
   background-image: url('../../../../assets/bck.jpg'); 
   background-size: cover;
   background-position: center;
   text-align: center;
   height:500px;
   width: 100%;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 
 .slogan {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
 }
 
 .discover-btn {
    background-color: #ffffff;
    color: #004D3B;
    padding: 10px 20px;
    font-size: 1.2rem;
 }
 
 .discover-btn:hover {
    background-color: #00a278;
    color: white;
 }
 