
.home-container {
    background-image: url('../../../../assets/bck.jpg'); 
    background-size: cover;
    background-position: center;
    height: calc(100vh - 64px); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 
 .slogan-container {
    text-align: center;
    color: white;
 }
 
 .slogan {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
 }
 
 .discover-btn {
    background-color: #ffffff;
    color: #004D3B;
    padding: 10px 20px;
    font-size: 1.2rem;
 }
 
 .discover-btn:hover {
    background-color: #00a278;
    color: white;
 }
 