<div class="checkbox-container">
  <mat-checkbox class="checkbox" [(ngModel)]="isOnSaleChecked" (change)="filterToursBySales()">ON SALE</mat-checkbox>
</div>
<div *ngIf="isOnSaleChecked" class="sort-controls">
  <mat-select placeholder="Sort by discount" (selectionChange)="sortTours($event.value)">
    <mat-option value="asc">Sort by discount - ascending</mat-option>
    <mat-option value="desc">Sort by discount - descending</mat-option>
  </mat-select>
</div>

<div class="tour-container">
    <div *ngFor="let tour of filteredTours" class="tour-card">
      <div *ngIf="findDiscount(tour)" class="sale-discount">
        <span class="discount">{{ findDiscount(tour)! }} %</span>
      </div>
      <h2 class="tour-name">{{ tour.name }}</h2>
      <img 
  *ngIf="checkpointImages[tour.id]" 
  [src]="checkpointImages[tour.id]" 
  alt="{{ checkpointNames[tour.id] }}" 
  class="tour-image">

      <p class="tour-description">{{ tour.description }}</p>
      <p class="tour-length">
        <strong>Length:</strong> {{ tour.lengthInKm || 'N/A' }} km
      </p>
      <p class="tour-checkpoint">
        <strong>Start point:</strong> {{ checkpointNames[tour.id] || 'Nema CheckPoint' }}
      </p>
      <p *ngIf="tourReviews[tour.id].length > 0">
        <mat-icon class="star">star</mat-icon> {{ avgGrade[tour.id] / tourReviews[tour.id].length}}
      </p>
      <p class="oldPrice" *ngIf="findDiscount(tour)"><del class="del">{{ tour.price! * 100 / (100 - findDiscount(tour)!)}} AC</del></p>
      <p class="price">
         {{ tour.price || 'No price' }} AC
      </p>
      <div class="tour-card-footer">      
        <button (click)="addTourToCart(tour)" class="buy-button">Add to cart</button>
      </div>
      <div  *ngIf="tourReviews[tour.id].length > 0">
        <p style="font-size: small;margin-top: 25px; color: gray; font-style: italic;">Reviews:</p>
        <div class="reviews-container">
        <div
          class="review-item"
          *ngFor="let review of tourReviews[tour.id] || []">
          <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <div class="profile-picture">
              <img src="assets/tourist.png" width="30" height="30" alt="User Profile Picture" />
            </div>
            <p class="user-name" style="margin: 0; font-size: small; color: gray; ">
              {{ review.personn.name }} {{ review.personn.surname }}
            </p>
          </div>
  
          <!-- Comment Section -->
          <div class="comment-section" >
            <p style="margin: 5px 0; font-size: small; color: #555;">{{ review.comment }}</p>
            <p style="margin: 5px 0; font-size: small; color: #555;"><mat-icon class="star-c">star</mat-icon> {{ review.rating }}</p>
          </div>
          
        </div>
      </div>
      </div>
      
      
      <button mat-button class="report-button1" color="warn" (click)="toggleReportForm(tour.id)">Report a Problem</button>
  
      <div *ngIf="reportFormVisible[tour.id]" class="report-form">
        <div class="form-header">
          <h4 style="color: black">Problem</h4>
          <button class="close-button" (click)="toggleReportForm(tour.id)" mat-icon-button>
            <mat-icon>close</mat-icon></button>
        </div>
        <div class="form-body">
          <label for="category">Category:</label>
          <select id="category" [value]="reportData[tour.id].category" (change)="onCategoryChange($event, tour.id)">
            <option value="" disabled>Select a category</option>
            <option value="Safety">Safety</option>
            <option value="Navigation">Navigation</option>
            <option value="Accessibility">Accessibility</option>
          </select>
            
          <label for="priority">Priority:</label>
          <select id="priority" [value]="reportData[tour.id].priority" (change)="onPriorityChange($event, tour.id)">
            <option value="" disabled>Select a priority</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
            
          <label for="description">Description:</label>
          <textarea id="description" [value]="reportData[tour.id].description" (input)="onDescriptionChange($event, tour.id)"></textarea>
  
          <button *ngIf="!reportSubmitted[tour.id]" class="submit-report-button" (click)="submitReport(tour.id)" 
                  [disabled]="!reportData[tour.id].category || !reportData[tour.id].priority || !reportData[tour.id].description">
            Report
          </button>
          <span *ngIf="reportSubmitted[tour.id]" color="primary" class="check-icon" mat-icon><mat-icon>check_circle</mat-icon></span>

        </div>
      </div>
      
    </div>
  </div>
  <div class="shopping-cart-button">
    <button routerLink="/shopping-cart" class="cart-button" color="primary" >
        <mat-icon>shopping_cart</mat-icon>
    </button>
 <button routerLink="/exchange-calculator" class="calculator-button" color="accent" style="margin-left: 10px;">
    <mat-icon>calculate</mat-icon> Currency Calculator
  </button>

  </div>

  <div><xp-pacages-publ></xp-pacages-publ></div>
