.tour-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Horizontalno centriranje kartica */
    padding-top: 40px;
  }
  
  .tour-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: calc(20.33% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .tour-name {
    
    font-size: 23px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .tour-description {
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  
  .price{
    font-size: 20px;
    text-align: right;
    margin-right: 20px;
  }

  .oldPrice{
    text-align: right;
    margin-right: 20px;
  }

  .tour-length,
  .tour-checkpoint {
    font-size: 0.9em;
  }

  .del{
    color: gray;
  }

  .sale-discount {
    background-color: red;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    width: 60px;
    height: 30px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin-left: 260px;
    margin-top: -23px;
  }

  .discount{
    
    margin-top: 15px;
  }

  .checkbox{
    margin-top: 10px;
    margin-left: 170px;
    color: darkolivegreen;
  }

  ::ng-deep .checkbox.mat-checkbox-checked .checkbox.mat-checkbox-background {
    background-color: darkolivegreen !important; /* Postavlja zelenu boju */
  }

  .buy-button {
    height: fit-content;
    padding: 10px 15px;
    background-color: white;
    color: darkolivegreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    width: 120px;
    font-size: 15px;
    margin-left: 172px;
    box-shadow: 0 2px 4px rgba(0.2, 0.2, 0.2, 0.2);
  }

  .buy-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .tour-card-footer{
    justify-content: left;
  }

  .shopping-cart-button {
    position: fixed;
    right: 60px;
    bottom: 600px;
    z-index: 1000;
  }
  
  .cart-button {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .cart-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .fa-shopping-cart {
    font-size: 20px;
    color: black;
  }

  .report-button {
    margin-top: 2px;
    background-color: #f47344;
    font-size: small;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    height:max-content;
    margin-left: 165px;
  }

  .report-button1 {
    margin-top: 30px;
    margin-left: 142px;
  }

  .report-button1:hover {
    background-color: #ccc;
  }
  
  .report-button:hover {
    background-color: #ec971f;
  }
  
  .report-form {
    margin-top: 15px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-button {
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 25px;
  }
  
  .form-body {
    margin-top: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-report-button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    
    font-size: 14px;
  }
  
  .submit-report-button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }

  .check-icon {
    color: #5cb85c;
    height: 30px;
  }

  .star{
    color: rgb(223, 171, 0);
    margin-bottom: -5px;
}

.star-c{
  color: rgb(223, 171, 0);
  font-size: 15px;
  text-align:center;
  margin-bottom: -11px;
}

  .reviews-container{
    height: 80px;
    overflow-y: auto;
  }

  .review-item {
    align-items: center;
    margin-bottom: 10px;
  }

  .profile-picture {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;
  }
  
  .profile-picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .comment-section {
    margin-left: 30px; 
  }

  .sort-controls {
    width: 270px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 177px;
  }
  
  .mat-select {
    width: 200px;
  }