<div class="container mt-4">
  <h2 class="text-center mb-4">Dodaj Ključnu Tačku</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Naziv Ključne Tačke</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="checkpoint.name" name="name" required />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Opis Ključne Tačke</label>
      <textarea class="form-control" id="description" [(ngModel)]="checkpoint.description" name="description" required></textarea>
    </div>
    <div class="mb-3">
      <label for="latitude" class="form-label">Geografska Širina</label>
      <input type="number" class="form-control" id="latitude" [(ngModel)]="checkpoint.latitude" name="latitude" required />
    </div>
    <div class="mb-3">
      <label for="longitude" class="form-label">Geografska Dužina</label>
      <input type="number" class="form-control" id="longitude" [(ngModel)]="checkpoint.longitude" name="longitude" required />
    </div>
    <div class="mb-3">
      <label for="imagePath" class="form-label">Putanja Slike</label>
      <input type="text" class="form-control" id="imagePath" [(ngModel)]="checkpoint.image" name="imagePath" />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="resetForm()">Poništi</button>
      <button type="submit" class="btn btn-primary">Sačuvaj</button>
    </div>
  </form>
</div>
