<div id="problems">
    <p>Equipment</p>
    <hr>
    <div id="problems-details">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Kategorija</th>
                    <th>Prioritet</th>
                    <th>Opis</th>
                    <th>Datum i vrijeme prijave</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pr of problems">
                    <td>{{pr.category}}</td>
                    <td>{{pr.priority}}</td>
                    <td>{{pr.description}}</td>
                    <td>{{pr.reportedAt | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
                </tr>               
            </tbody>
        </table>
    </div>
   
    </div>
</div>

