<div class="home-container">
    <video autoplay muted loop class="background-video">
        <source src="assets/world.mp4" type="video/mp4"/>
        Your browser does not support the video tag.
    </video>
    <div class="slogan-container">
        <h1 class="slogan">{{'SLOGAN' | translate}}</h1>
        <button class="discover-btn" [routerLink]="['/tour-preferences']">{{'DISCOVER' | translate}}</button>
    </div>    
</div>


<div class="icons">
    <div class="icon-container">
      <mat-icon>explore</mat-icon>
    </div>
    <h1>{{'EXPLORE_WITH_US' | translate}}</h1>
</div>
<div class="tours">
    <xp-tours-view></xp-tours-view>
</div>

<div class="icons">
    <div class="icon-container">
      <mat-icon>newspaper</mat-icon>
    </div>
    <h1>{{'FROM_THE_BLOG_SECTION.FROM_THE_BLOG' | translate}}</h1>
</div>
<div class="blog">
    <img src="assets/blog.jpeg" alt="Blog Image" class="blog-image" />
    <div class="green-background">
        <p class="blog-text">
            <span class="highlight">{{'FROM_THE_BLOG_SECTION.EXPLORE' | translate}}</span> {{'FROM_THE_BLOG_SECTION.TEXT1' | translate}} {{'FROM_THE_BLOG_SECTION.TEXT2.1' | translate}} <span class="highlight">{{'FROM_THE_BLOG_SECTION.READ' | translate}}</span>{{'FROM_THE_BLOG_SECTION.TEXT2.2' | translate}}
        </p>
        <p class="blog-text">
            <span class="highlight">{{'FROM_THE_BLOG_SECTION.SHARE' | translate}}</span> {{'FROM_THE_BLOG_SECTION.TEXT3' | translate}}
        </p>
        <button class="blog-button" [routerLink]="['/blog']">{{'FROM_THE_BLOG_SECTION.VIEW_MORE' | translate}}</button>
    </div>
</div>

<div class="icons">
    <div class="icon-container">
      <mat-icon>grade</mat-icon>
    </div>
    <h1>{{'MAKE_YOU_VOICE_HEARD_SECTION.MAKE_YOU_VOICE_HEARD' | translate}}</h1>
</div>
<div class="rating">
    <img src="assets/travel.jpg" alt="Rate us Image" class="rating-image" />
    <div class="stats-wrapper">
        <div class="stat">
            <p>{{'MAKE_YOU_VOICE_HEARD_SECTION.GRADE' | translate}}</p>
            <h2 id="stat-grade">0</h2>
        </div>
        <div class="stat">
            <p>{{'MAKE_YOU_VOICE_HEARD_SECTION.TOURS' | translate}}</p>
            <h2 id="stat-tours">0</h2>
        </div>
        <div class="stat">
            <p>{{'MAKE_YOU_VOICE_HEARD_SECTION.COUNTRIES' | translate}}</p>
            <h2 id="stat-countries">0</h2>
        </div>
          
    </div>  
    <button class="rating-button" (click)="openReviewModal()">{{'MAKE_YOU_VOICE_HEARD_SECTION.RATE_US' | translate}}</button>
    <xp-rating-dialog (reviewSubmitted)="handleReview($event)"></xp-rating-dialog>
</div>

<!-- Custom Modal -->
<div class="custom-modal" *ngIf="!isLoggedIn">
    <div class="modal-content">
      <button class="close-btn" (click)="closeModal()">×</button>
      <div class="modal-message">
        To continue, please log in.
      </div>
      <button class="login-btn" (click)="navigateToLogin()">
        <div class="log-icon">
            <mat-icon>lock_open</mat-icon>
        </div>
        Login</button>
    </div>
</div>
  

<div class="icons">
    <div class="icon-container">
      <mat-icon>comment</mat-icon>
    </div>
    <h1>{{'WHAT_TRAVELLERS_SAY_SECTION.WHAT_TRAVELLERS_SAY' | translate}}</h1>
</div>
<div>
    <div class="comments-content">
        <div class="comments-card">
            <img src="assets/comment.png" class="comment-image" />
            <p class="quote">"{{'WHAT_TRAVELLERS_SAY_SECTION.TEXT1' | translate}}"</p><div class="stars">⭐⭐⭐⭐⭐</div>
            <p class="author">Marko D.</p>
            <p class="description">{{'WHAT_TRAVELLERS_SAY_SECTION.TRAVELER' | translate}}</p>
        </div>
        <div class="comments-card">
            <img src="assets/comment.png" class="comment-image" />
            <p class="quote">"{{'WHAT_TRAVELLERS_SAY_SECTION.TEXT2' | translate}}"</p><div class="stars">⭐⭐⭐⭐⭐</div>
            <p class="author">Luka L.</p>
            <p class="description">{{'WHAT_TRAVELLERS_SAY_SECTION.TRAVELER' | translate}}</p>
        </div>
        <div class="comments-card">
            <img src="assets/comment.png" class="comment-image" />
            <p class="quote">"{{'WHAT_TRAVELLERS_SAY_SECTION.TEXT3' | translate}}"</p>
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <p class="author">Ana T.</p>
            <p class="description">{{'WHAT_TRAVELLERS_SAY_SECTION.TRAVELER' | translate}}</p>
        </div>
    </div>
</div>

<div class="icons">
    <div class="icon-container">
      <mat-icon>groups</mat-icon>
    </div>
    <h1>{{'MAKE_NEW_FRIENDSHIPS_SECTION.MAKE_NEW_FRIENDSHIPS' | translate}}</h1>
</div>
<div class="blog">
    <div class="club-background">
        <p class="blog-text">
            <span class="highlight">{{'MAKE_NEW_FRIENDSHIPS_SECTION.SHARE' | translate}}</span> {{'MAKE_NEW_FRIENDSHIPS_SECTION.TEXT1.1' | translate}} <span class="highlight">{{'MAKE_NEW_FRIENDSHIPS_SECTION.CLUB' | translate}}</span> {{'MAKE_NEW_FRIENDSHIPS_SECTION.TEXT1.2' | translate}} <span class="highlight">{{'MAKE_NEW_FRIENDSHIPS_SECTION.CONNECT' | translate}}</span>, {{'MAKE_NEW_FRIENDSHIPS_SECTION.TEXT1.3' | translate}}
        </p>
        <p class="blog-text">
            {{'MAKE_NEW_FRIENDSHIPS_SECTION.TEXT2' | translate}}
        </p>
        <button class="blog-button" (click)="joinClub()">{{'MAKE_NEW_FRIENDSHIPS_SECTION.JOIN_NOW' | translate}}</button>
    </div>
    <img src="assets/club.jpg" alt="Rate us Image" class="blog-image" />
</div>

<div class="icons">
    <div class="icon-container">
      <mat-icon>sports_esports</mat-icon>
    </div>
    <h1>{{'PLAY_SECTION.PLAY_WIN_AND_GET_YOUR_COUPON' | translate}}</h1>
</div>
<div class="game-slider">
  <button class="arrow-btn left" (click)="prev()">&#8249;</button>

  <div class="game-container">
    <div *ngFor="let game of visibleGames" class="game-card">
      <img [src]="game.img" alt="Game Image" class="game-image" />
      <button class="card-button" [routerLink]="[game.link]">{{'PLAY_SECTION.PLAY_NOW' | translate}}</button>
    </div>
  </div>

  <button class="arrow-btn right" (click)="next()">&#8250;</button>
</div>


<div class="footer-background">
    <p class="footer-text">
        {{'FOOTER_SECTION.ABOUT_US' | translate}}
    </p>
    <p class="footer-text">
        {{'FOOTER_SECTION.CONTACT' | translate}}
    </p>
    <div class="horizontal-line">
        <p class="footer-text" style="margin-top: 50px;">
            {{'FOOTER_SECTION.TEXT' | translate}}
        </p>
    </div>
</div>
