<div class="home-container">
    <video autoplay muted loop class="background-video">
        <source src="assets/world.mp4" type="video/mp4"/>
        Your browser does not support the video tag.
    </video>
    <div class="slogan-container">
        <h1 class="slogan">Do More with Explorer</h1>
        <button class="discover-btn" [routerLink]="['/tour-preferences']">Discover</button>
    </div>    
</div>


<div class="icons">
    <div class="icon-container">
      <mat-icon>explore</mat-icon>
    </div>
    <h1>Explore with us</h1>
</div>
<div class="tours">
    <xp-tours-view></xp-tours-view>
</div>

<div class="icons">
    <div class="icon-container">
      <mat-icon>newspaper</mat-icon>
    </div>
    <h1>From the blog</h1>
</div>
<div class="blog">
    <img src="assets/blog.jpeg" alt="Blog Image" class="blog-image" />
    <div class="green-background">
        <p class="blog-text">
            <span class="highlight">EXPLORE</span> amazing travel blogs and get inspired! Not sure where to go next? <span class="highlight">READ</span> a post and maybe you'll discover your next dream destination. 
        </p>
        <p class="blog-text">
            <span class="highlight">SHARE</span> your thoughts in the comments and connect with other travelers!
        </p>
        <button class="blog-button" [routerLink]="['/blog']">View more</button>
    </div>
</div>

<div class="icons">
    <div class="icon-container">
      <mat-icon>grade</mat-icon>
    </div>
    <h1>Make your voice heard</h1>
</div>
<div class="rating">
    <img src="assets/travel.jpg" alt="Rate us Image" class="rating-image" />
    <div class="stats-wrapper">
        <div class="stat">
            <p>Grade</p>
            <h2 id="stat-grade">0</h2>
        </div>
        <div class="stat">
            <p>Tours</p>
            <h2 id="stat-tours">0</h2>
        </div>
        <div class="stat">
            <p>Countries</p>
            <h2 id="stat-countries">0</h2>
        </div>
          
    </div>  
    <button class="rating-button" (click)="openReviewModal()">Rate us</button>
    <xp-rating-dialog (reviewSubmitted)="handleReview($event)"></xp-rating-dialog>
</div>

<div class="icons">
    <div class="icon-container">
      <mat-icon>comment</mat-icon>
    </div>
    <h1>What travellers say</h1>
</div>
<div>
    <div class="comments-content">
        <div class="comments-card">
            <img src="assets/comment.png" class="comment-image" />
            <p class="quote">"Explorer made our trip unforgettable with personalized local tours. We’ll never do large group tours again!"</p>            <div class="stars">⭐⭐⭐⭐⭐</div>
            <p class="author">Marko D.</p>
            <p class="description">traveller</p>
        </div>
        <div class="comments-card">
            <img src="assets/comment.png" class="comment-image" />
            <p class="quote">"Explorer has so many exciting things! I won a coupon playing a game and ended up on the best trip of my life!"</p>            <div class="stars">⭐⭐⭐⭐⭐</div>
            <p class="author">Luka L.</p>
            <p class="description">traveller</p>
        </div>
        <div class="comments-card">
            <img src="assets/comment.png" class="comment-image" />
            <p class="quote">"Our tour was one of the most delightful experiences this group of world travellers has ever had!"</p>
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <p class="author">Ana T.</p>
            <p class="description">traveller</p>
        </div>
    </div>
</div>

<div class="icons">
    <div class="icon-container">
      <mat-icon>groups</mat-icon>
    </div>
    <h1>Make new friendships</h1>
</div>
<div class="blog">
    <div class="club-background">
        <p class="blog-text">
            <span class="highlight">SHARE</span> your travel adventures and inspire others! Join a <span class="highlight">CLUB</span> and discover the world through new friendships! <span class="highlight">CONNECT</span>, share stories, and create unforgettable travel memories.
        </p>
        <p class="blog-text">
            Your story could spark someone's next unforgettable journey!
        </p>
        <button class="blog-button" [routerLink]="['/allclubs']">Join now</button>
    </div>
    <img src="assets/club.jpg" alt="Rate us Image" class="blog-image" />
</div>

<div class="icons">
    <div class="icon-container">
      <mat-icon>sports_esports</mat-icon>
    </div>
    <h1>Play, win and get your coupon!</h1>
</div>
<div class="game">
    <div class="game-card">
        <img src="assets/t1.png" alt="Tetris Image" class="game-image" />
        <button class="card-button" [routerLink]="['/tetris']">Play now</button>
    </div>
    <div class="game-card">
        <img src="assets/si2.jpg" alt="SpaceInvaders Image" class="game-image" />
        <button class="card-button" [routerLink]="['/space-invaders']">Play now</button>
    </div>
</div>

<div class="footer-background">
    <p class="footer-text">
        About us
    </p>
    <p class="footer-text">
        Contact us
    </p>
    <div class="horizontal-line">
        <p class="footer-text" style="margin-top: 50px;">
            2024 Explorer. Made in Novi Sad, Serbia.
        </p>
    </div>
</div>
