<div>
    <mat-icon>plane</mat-icon>
    <h1>Explore with us</h1>
</div>
<div class="tours">
    <xp-tours-view></xp-tours-view>
</div>

<div>
    <mat-icon>plane</mat-icon>
    <h1>From the blog</h1>
</div>
<div class="blog">
    <img src="assets/blog.jpeg" alt="Blog Image" class="blog-image" />
    <div class="green-background">
        <p class="blog-text">
            <span class="highlight">SHARE</span> your travel adventures and inspire others! Leave a <span class="highlight">COMMENT</span>, blog about your favorite destinations, or <span class="highlight">EXPLORE</span> the stories and experiences of other travelers. 
        </p>
        <p class="blog-text">
            Your story could spark someone's next unforgettable journey!
        </p>
        <button class="blog-button" [routerLink]="['/blog']">Post</button>
    </div>
</div>


